################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.db
*.db-shm
*.db-wal

/src/VolksbankTracker.API/obj
/src/VolksbankTracker.Core/obj
/src/VolksbankTracker.Core/bin/
/src/VolksbankTracker.API/bin/
/graphify-out
